
.debug{
    border: 1px solid black;
    background-color: rgba(74, 74, 244, 0.2);
}

body{
    font-family: 'Helvetica Neue', sans-serif;
}

header{
    
    background-color: #2C3F51;
    position: fixed;
    top: 0;
    z-index: 999;
}

section{
    padding: 50px 0;
}

main{
    margin-top: 90px;
}

.jumbotron, .about{
    background-color: #31BC9C;
    
}

.jumbotron .avatar{
    width: 265px;
    height: 265px;
}

.jumbotron h1{
    font-size: 2.2rem;
    
}

.l-star:before, .l-star:after{
    content: "";
    display: inline-block;
    width: 15%;
    height: 4px;
    border-radius: 2px;
    background-color: white;
    margin: 0 10px;
}

.portfolio .l-star:before,
.portfolio .l-star:after,
.contact .l-star:before,
.contact .l-star:after{
    background-color: #2C3F51;
}

.portfolio, .contact{
    color: #2C3F51;
}

.l-star i{
    font-size: 30px;
    vertical-align: middle;
    margin: 20px 0;
}

.portfolio .cust-card{
    background-color: #31BC9C;
    border-radius: 20px;
}

.portfolio .cust-card img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.custom-container{
    width: 60%;
    margin: 0 auto;
}

.about .custom-container{
    font-size: 1.3rem;
}

.my_form input,
.my_form textarea {
  border-top: none;
  border-right: none;
  border-left: none;
  border-radius: 0;
}

.my_form input:focus,
.my_form textarea:focus {
  box-shadow: none;
}

.my_form input::placeholder,
.my_form textarea::placeholder {
  color: #2b3d4f;
  
} 

.my_button {
  background-color: #1abc9c;
  border: none;
}

.my_button:hover {
  background-color: #137964;
}

.footer-top{
    background-color: #3A546D;
}

.footer-top i {
    display: inline-block;
    border-radius: 50%;
    border: 1px solid white;
    padding: 0.7em 0.9em;
  
}

.footer-top #google{
    padding: 0.7em 0.6em;
}

.footer-top #twitter{
    padding: 0.7em 0.7em;
}

.footer-top #linkedin{
    padding: 0.7em 0.8em;
}

.footer-top a{
    color: #31BC9C;
    text-decoration: none;
}


.footer-bottom{
    background-color: #2B3E51;
}


/******************************************

               RESPONSIVE

******************************************/

@media (min-width: 992px){
    .about h2,
    .contact h2,
    .portfolio h2{
        font-size: 3rem;
    }

    .jumbotron h1{
        font-size: 3.1rem;
    }

    .footer-top h5{
        font-size: 1.7rem;
    }

}