
.debug{
    border: 1px solid black;
    background-color: rgba(74, 74, 244, 0.2);
}

body{
    font-family: 'Helvetica Neue', sans-serif;
}

header{
    
    background-color: #2C3F51;
    position: fixed;
    top: 0;
    z-index: 999;
}

section{
    padding: 50px 0;
}

main{
    margin-top: 90px;
}

.jumbotron, .about{
    background-color: #31BC9C;
    
}

.jumbotron .avatar{
    width: 260px;
    height: 260px;
}

.jumbotron h1{
    font-size: 2.2rem;
    
}

.l-star:before, .l-star:after{
    content: "";
    display: inline-block;
    width: 15%;
    height: 4px;
    border-radius: 2px;
    background-color: white;
    margin: 0 20px;
}

.portfolio .l-star:before,
.portfolio .l-star:after,
.contact .l-star:before,
.contact .l-star:after{
    background-color: #2C3F51;
}

.portfolio, .contact{
    color: #2C3F51;
}

.l-star i{
    font-size: 30px;
    vertical-align: middle;
    margin: 20px 0;
}

.portfolio .cust-card{
    background-color: #31BC9C;
    min-height: 300px;
}

.custom-container{
    width: 70%;
    margin: 0 auto;
}

.my_form input,
.my_form textarea {
  border-top: none;
  border-right: none;
  border-left: none;
  border-radius: 0;
}

.my_form input:focus,
.my_form textarea:focus {
  box-shadow: none;
}

.my_form input::placeholder,
.my_form textarea::placeholder {
  color: #2b3d4f;
  
} 

.my_button {
  background-color: #1abc9c;
  border: none;
}

.my_button:hover {
  background-color: #137964;
}
